.el-input__wrapper{
    background-color: transparent !important;
    box-shadow: none !important;
}

.p-menubar-root-list {
    gap: 35px !important;
    flex-direction: row-reverse;
}

.example-showcase .el-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
}


.mySwiper {
    width: 100%;
    margin: auto;
}

.iconsHover {
    display: none;
}

.MostBuyed:hover .iconsHover,.first-sale:hover .iconsHover {
    display: flex;
}

.iconsHover>div {
    cursor: pointer;
}

.mySwiper .hover:hover,.productDetaials:hover,.saleProducts:hover {
    border: 1px solid #CF6F7A;
}
.mySwiper .hover:hover .hoverText{
    color: #CF6F7A;

}

html[dir="rtl"] .el-collapse-item__title {
    text-align: right;
}


.is-active.number {
    color: #FFFFFF !important;
    background: #C65C6A;
    width: 36px;
    height: 36px;
    border-radius: 130px;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #C65C6A !important;
    border-color: #C65C6A !important;
}

.el-icon {
    display: flex !important;
}