

.el-input__wrapper{
    background-color: transparent !important;
    box-shadow: none !important;
}

.p-menubar-root-list {
    gap: 35px !important;
    flex-direction: row-reverse;
}

.example-showcase .el-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
}


.mySwiper {
    width: 100%;
    margin: auto;
}

.iconsHover {
    display: none;
}

.MostBuyed:hover .iconsHover,.first-sale:hover .iconsHover {
    display: flex;
}

.el-button.is-plain:hover,
.el-button.is-plain:focus {
    background-color: white !important;
    /* border-color: #C65C6A !important; */
    color: #fff !important;
}


.iconsHover>div {
    cursor: pointer;
}

.mySwiper .hover:hover,.productDetaials:hover,.saleProducts:hover {
    border: 1px solid #CF6F7A;
}
.mySwiper .hover:hover .hoverText{
    color: #CF6F7A;

}

html[dir="rtl"] .el-collapse-item__title {
    text-align: right;
}

html[dir="rtl"] .btn-prev,html[dir="rtl"] .btn-next{
    transform: rotate(180deg);
}

html[dir="rtl"] .rightArw{
    transform: rotate(180deg);
}

html[dir="rtl"] .el-dialog__headerbtn{
    right:15px !important;
}
.el-dialog__headerbtn{
    right:-15px !important;
}

.is-active.number {
    color: #FFFFFF !important;
    background: #C65C6A;
    width: 36px;
    height: 36px;
    border-radius: 130px;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #C65C6A !important;
    border-color: #C65C6A !important;
}

.el-icon {
    display: flex !important;
}



.ratingAudience>div:nth-child(4n+1),
.ratingAudience>div:nth-child(4n+2),
.ratingAudience>div:nth-child(4n+3) {
    padding: 0 16px 16px 0px;
    border-bottom: 0.5px dashed #A3A3A3;
}

.ratingAudience>div:nth-child(4n) {
    border-bottom: none;
    padding-bottom: 3px;
    padding: 0 16px 16px 0px;
}

.activeSideBar{
    background: #C65C6A;
    color:#FFFFFF;
}
.activeSideBarHome{
    background: #C65C6A;
    color:#FFFFFF;
}

.dashboard-svg{
    fill: white;
    stroke: black;
}

@media (min-width: 768px) {
    .border-payment:not(:last-of-type) {
        border-inline-end: 1px solid #E4E7E9;
    }
}

.customer-support-image {
    background-image: url('/supportbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
}